@{
    ViewData["Title"] = "Playlists";
}
<div class="textCenter">
    <h2>@ViewData["Message"]</h2>
</div>
<hr />

&nbsp;

<div class="playlistLogo">
    <a href="@Url.Action("Index", "OfficeTime")">
        <img src="~/images/OfficeTimeBanner.png" title="Office Time Playlist" alt="Office Time Playlist"/>
    </a>
</div>

<div class="textCenter">
    <p>
        <h2>
            Office-friendly classic rock songs.
        </h2>
    </p>
</div>
<hr />

&nbsp;

<div class="playlistLogo">
    <a href="@Url.Action("Index", "WorkingOut")">
        <img src="~/images/WorkingOutBanner.png" title="Working Out Playlist" alt="Working Out Playlist" />
    </a>
</div>
<div class="textCenter">
    <p>
        <h2>
            Catchy beats to get your heart pumping!
        </h2>
    </p>
</div>
<hr />

&nbsp;

<div class="playlistLogo">
    <a href="@Url.Action("Index", "ReadingCoding")">
        <img src="~/images/ReadingCodingBanner.png" title="Reading and Coding Playlist" alt="Reading and Coding Playlist" />
    </a>
</div>
<div class="textCenter">
    <p>
        <h2>
            Chilled-out music with no vocals.
        </h2>
    </p>
</div>
<hr />

&nbsp;

<div class="playlistLogo">
    <a href="@Url.Action("Index", "Meditation")">
        <img src="~/images/MeditationBanner.png" title="Meditation Playlist" alt="Meditation Playlist" />
    </a>
</div>

&nbsp;
<div class="textCenter">
    <p>
        <h2>
            When it's time to relax, we have you covered.
        </h2>
    </p>
</div>



