@model IEnumerable<PLP.Models.ReadingCoding>

@{
    ViewData["Title"] = "Index";
}

<p>
    &nbsp;
</p>
<div class="textCenter">
    <h1>Reading / Coding</h1>
</div>
<div class="buttoncontainer">
    @Html.ActionLink("", "Index", "WorkingOutAdmin", null, new { @class = "glyphicon glyphicon-chevron-left" })
    <a href="https://open.spotify.com/user/playlistpro_mvc/playlist/4PfODdjom7p4EwpV7DBUfM"
       class="btn btn-warning btn-lg"
       style="border: 0px"
       role="button">
        Open Playlist in Spotify!
    </a>
    @Html.ActionLink("", "Index", "MeditationAdmin", null, new { @class = "glyphicon glyphicon-chevron-right" })
</div>
<div class="pushright">
    @Html.ActionLink("Add A Song", "Create", "ReadingCodingAdmin", null, new { @class = "btn btn-primary btn-large" })
</div>
<p>
    &nbsp;
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span class="PlaylistInfo">@Html.DisplayNameFor(model => model.Artist)</span>
            </th>
            <th>
                <span class="PlaylistInfo"> @Html.DisplayNameFor(model => model.Title)</span>
            </th>
            <th>
                <span class="PlaylistInfo">@Html.DisplayNameFor(model => model.Genre)</span>
            </th>
            <th>
                <span class="PlaylistInfo"> @Html.DisplayNameFor(model => model.Play)</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span class="ArtistInfo">@Html.DisplayFor(modelItem => item.Artist)</span>
                </td>
                <td>
                    <span class="ArtistInfo">@Html.DisplayFor(modelItem => item.Title)</span>
                </td>
                <td>
                    <span class="ArtistInfo">@Html.DisplayFor(modelItem => item.Genre)</span>
                </td>
                <td>
                    @Html.Raw(item.Play)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>